body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
button:disabled:hover {
	cursor: not-allowed;
}
.auth {
	min-height: 100vh;
	display: flex;
	.auth-image {
		background-image: url("../images/bg-1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(3px);
		-webkit-filter: blur(3px);
	}
	.card {
		width: 400px;
		background-color: rgba(0,0,0, 0.4);
		color: #fff;
		border: 1px solid #f1f1f1;
		border-radius: 0;
		padding: 20px 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
	}
	.title {
		font-size: 24px;
		font-weight: bold;
	}
	.form-control {
		background: transparent;
		border-radius: 0;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom-color: #fff;
		color: #fff;
	}
	.form-control:focus {
		box-shadow: none;
		outline: none;
	}
	.btn-outline-secondary {
		border-radius: 0;
		border-color: #fff;
		color: #fff;
	}
	.btn-outline-secondary:hover {
		background-color: rgba(255,255,255, 0.3);
	}
	.btn-outline-secondary:active {
		background-color: rgba(0,0,0, 0.15) !important;
		border-color: #fff !important;
	}
	.btn-outline-secondary:focus {
		box-shadow: none;
	}
}
.sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 5px 0 10px -3px #00000054;
	overflow-y: auto;
	.brand {
		color: $ultramarine;
		font-weight: 600;
		font-size: 15px;
		padding: 15px 15px 30px 15px;
	}
	.nav-link {
		color: #8c929d;
		padding: 0.7rem 1.3rem;
		cursor: pointer;
	}
	.nav-link:hover,
	.active > .nav-link {
		color: $ultramarine;
		svg {
			stroke: $ultramarine;
		}
	}
	.active > .nav-link,
	.submenu .active {
		border-right: 3px solid $ultramarine;
	}
	.submenu {
		.nav-link {
			padding-left: 3.55rem;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
			&::before {
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: #8c929d;
				margin-right: 8px;
			}
		}
		.active {
			color: $ultramarine;
			border-right: 3px solid $ultramarine;
		}
		.nav-link:hover::before,
		.active::before {
			background: $ultramarine;
		}
	}
}
.c-collapse {
	overflow: hidden;
	transition: 0.4s max-height;
}
.c-collapse > div {
	overflow: auto;
}
.header {
	height: 65px;
	background: $dark-blue;
	background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 65%, $dark-blue 100%);
	color: #fff;
	padding: 5px 35px;
	position: fixed;
	top: 0;
	left: 250px;
	right: 0;
	z-index: 50;
	.btn-icon:focus {
		box-shadow: none;
	}
	.btn-icon:hover {
		svg {
			opacity: 0.9;
		}
	}
}
.main {
	min-height: calc(100vh - 65px - 55px);
	margin-top: 65px;
	margin-left: 250px;
	padding: 20px 35px;
	position: relative;
}
.title {
	font-size: 26px;
	margin-bottom: 30px;
}
.footer {
	height: 55px;
	margin-left: 250px;
	padding: 5px 35px;
	font-weight: bold;
	border-top: 1px solid #ddd;
}
.card {
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 10px -1px #00000026;
	.search {
		width: 20%;
	}
}
.card-header {
	background-color: #fff;
	padding: 15px 20px;
	font-size: 17px;
	font-weight: bold;
	&:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}
@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideOutToRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}
.toast {
	min-width: 250px;
	position: fixed;
	top: 60px;
	right: 20px;
	opacity: 1;
	background: #fff;
	z-index: 100;
	animation: 0.3s ease-out 0s 1 slideInFromRight;
	&.hidden {
		animation: 0.2s ease-out 0s 1 slideOutToRight;
	}
	button:focus {
		outline: none;
	}
	.toast-bullet {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		display: inline-block;
		&.success {
			background: $green;
		}
		&.error {
			background: $red;
		}
	}
}
@keyframes ldio-udqwbl5sat8 {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
}
.loader {
	position: fixed;
	top: 65px;
	left: 250px;
	right: 0;
	bottom: 0;
	background: #ffffff50;
	z-index: 100;
	/* Loader - generated by https://loading.io/ */
	.ldio-udqwbl5sat8 div { box-sizing: border-box!important }
	.ldio-udqwbl5sat8 > div {
		position: absolute;
		width: 72px;
		height: 72px;
		top: 14px;
		left: 14px;
		border-radius: 50%;
		border: 8px solid #000;
		border-color: #46acff transparent #46acff transparent;
		animation: ldio-udqwbl5sat8 1s linear infinite;
	}
	.ldio-udqwbl5sat8 > div:nth-child(2) { border-color: transparent }
	.ldio-udqwbl5sat8 > div:nth-child(2) div {
		position: absolute;
		width: 100%;
		height: 100%;
		transform: rotate(45deg);
	}
	.ldio-udqwbl5sat8 > div:nth-child(2) div:before, .ldio-udqwbl5sat8 > div:nth-child(2) div:after { 
		content: "";
		display: block;
		position: absolute;
		width: 8px;
		height: 8px;
		top: -8px;
		left: 24px;
		background: #46acff;
		border-radius: 50%;
		box-shadow: 0 64px 0 0 #46acff;
	}
	.ldio-udqwbl5sat8 > div:nth-child(2) div:after { 
		left: -8px;
		top: 24px;
		box-shadow: 64px 0 0 0 #46acff;
	}
	.loadingio-spinner-dual-ring-yvvns0eno3f {
		width: 50px;
		height: 50px;
		display: inline-block;
		overflow: hidden;
		background: none;
	}
	.ldio-udqwbl5sat8 {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateZ(0) scale(0.5);
		backface-visibility: hidden;
		transform-origin: 0 0; /* see note above */
	}
	.ldio-udqwbl5sat8 div { box-sizing: content-box; }
}

.table {
	th {
		border-top: none;
	}
	.no {
		width: 50px;
	}
	.date {
		width: 200px;
	}
	.action {
		width: 200px;
	}
	&.compact .date {
		width: 140px;
	}
	img {
		max-height: 50px;
	}
}
.links {
	.btn:hover {
		svg {
			stroke: #ffffff;
		}
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.c-alert {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	opacity: 1;
	&.hidden {
		animation: 0.1s ease 0s 1 fadeOut;
	}
	.backdrop {
		width: 100%;
		height: 100%;
		background: #00000050;
		cursor: pointer;
	}
	.card {
		min-width: 330px;
		min-height: 150px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.c-alert-header,
	.c-alert-body {
		padding: 7px 15px;
	}
	.c-alert-footer {
		padding: 10px 15px;
	}
	button:focus {
		outline: none;
	}
}
/* Switch */
.custom-switch {
	.custom-control-label::before {
		width: 3rem;
		height: 1.6rem;
		border-radius: 1rem;
	}
	.custom-control-label::after {
		width: calc(1.6rem - 4px);
		height: calc(1.6rem - 4px);
		border-radius: 50%;
	}
	.custom-control-input:checked ~ .custom-control-label::after {
	    transform: translateX(1.44rem);
	}
}
/* Select */
.c-select {
	position: relative;
	.c-select-input-interface {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
	}
	.c-select-input-selected {
		position: absolute;
		z-index: 2;
	}
	.c-select-input-wrapper {
		height: 100%;
	}
	.c-select-input {
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
	}
	.c-select-dropdown {
		max-height: 250px;
		overflow-y: auto;
		background-color: #fff;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		padding-top: 5px;
		padding-bottom: 5px;
		position: absolute;
		left: -1px;
		right: -1px;
		z-index: 10;
		display: none;
		&.open {
			display: block;
		}
		ul {
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
		}
		li {
			padding: 8px 15px;
			cursor: default;
		}
		li:hover,
		li.active {
			background-color: #d1f4ff;
		}
	}
}
.image-repeater {
	.item {
		width: 100px;
		height: 100px;
		border: 1px solid #ccc;
		border-radius: 4px;
		background: #fafafa;
		position: relative;
		margin-right: 10px;
		margin-bottom: 15px;
		.preview {
			width: 100%;
			height: 100%;
			object-fit: contain;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.input {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			opacity: 0;
			cursor: pointer;
		}
		.btn-delete {
			position: absolute;
			top: 2px;
			right: 2px;
			z-index: 3;
			padding: 0px 5px 2px 5px;
			border-radius: 4px;
			cursor: pointer;
		}
	}
}
.badge {
	padding-bottom: 4px;
}
.btn-outline-primary:hover {
	svg {
		stroke: #ffffff;
	}
}
.detail {
	.attribute {
		width: 70px;
		font-weight: bold;
	}
	.semicolon {
		width: 20px;
		text-align: center;
	}
	.address {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.address-item:nth-child(odd) {
		padding-right: 15px;
	}
	.address-item:nth-child(even) {
	    padding-left: 15px;
	}
}
.main {
	.leaflet-pane {
		z-index: 5;
	}
	.leaflet-control, .leaflet-top, .leaflet-bottom {
		z-index: 10;
	}
}