// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #31a2ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #fd413c;
$orange: #f6993f;
$yellow: #ffc14a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-grey: #373833;
$dark-blue: #1a1b4b;
$ultramarine: #090979;